export(fbGetToken)
export(fbGetBusinessManagers)
export(fbGetProjects)
export(fbGetAdAccounts)
export(fbGetAdAccountUsers)
export(fbGetPages)
export(fbGetApps)
export(fbGetLongTimeToken)
export(fbGetMarketingStat)
importFrom(RCurl,getURL)
importFrom(jsonlite,fromJSON)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)
