export(fbGetToken)
export(fbGetBusinessManagers)
export(fbGetProjects)
export(fbGetAdAccounts)
export(fbGetAdAccountUsers)
export(fbUpdateAdAccountUsers)
export(fbDeleteAdAccountUsers)
export(fbGetPages)
export(fbGetApps)
export(fbGetAdAccountUsersPermissions)
export(fbGetLongTimeToken)
export(fbGetMarketingStat)
export(fbGetAdSets)
export(fbGetAdCreative)
export(fbGetAds)
export(fbGetCampaigns)
export(fbGetCatalogs)
importFrom(RCurl, getURL)
importFrom(jsonlite, fromJSON)
importFrom(jsonlite, toJSON)
importFrom(jsonlite, validate)
importFrom(httr, GET)
importFrom(httr, POST)
importFrom(httr, DELETE)
importFrom(httr, content)
importFrom(httr, headers)
importFrom(httr, stop_for_status)
importFrom(dplyr, bind_rows)
importFrom(dplyr, bind_cols)
importFrom(dplyr, group_by)
importFrom(dplyr, summarise)
importFrom(dplyr, mutate)
importFrom(dplyr, select)
importFrom(dplyr, "%>%")
importFrom(purrr, map_df)
importFrom(purrr, flatten)
importFrom(tidyr, spread)
importFrom(stringr, str_interp)
importFrom(stringr, str_split)
importFrom(stringr, str_c)
importFrom("utils", "browseURL", "setTxtProgressBar", "txtProgressBar")
import(data.table)
