export(fbGetToken)
export(fbGetBusinessManagers)
export(fbGetProjects)
export(fbGetAdAccounts)
export(fbGetAdAccountUsers)
export(fbUpdateAdAccountUsers)
export(fbDeleteAdAccountUsers)
export(fbGetPages)
export(fbGetApps)
export(fbGetAdAccountUsersPermissions)
export(fbGetLongTimeToken)
export(fbGetMarketingStat)
export(fbGetAdSets)
export(fbGetAdCreative)
export(fbGetAds)
export(fbGetCampaigns)
importFrom(RCurl,getURL)
importFrom(jsonlite,fromJSON)
importFrom(httr,GET)
importFrom(httr,POST)
importFrom(httr,DELETE)
importFrom(httr,content)
importFrom(httr,stop_for_status)
importFrom(dplyr,bind_rows)
importFrom("utils", "browseURL", "setTxtProgressBar", "txtProgressBar")
import(data.table)
